/* 1. change li items to display inline
 and rmeove bullet points */

 .block {
 	display: inline;
 	list-style-type: none;
 }

 /* 2. Display 3 spans as block with 1px 
 border and 25px margin. */

 .inline {
 	display: block;
 	border: 1px solid black;
 	margin: 25px;
 }

 /* 3. Use n-child to 1px border around
 even section elements in article element */

 .n-child section:nth-child(2n+1) {
 	border: 1px solid blue;
 }